<h1>Рішення тестових завдань</h1>

<table class="table-bordered table-sm" id="solutions" data-search="true" data-toggle="table" data-pagination="true" data-page-list="[25, 50, 100, 200, 500, all]" data-page-size="25" data-url="/solutions.json">
	<thead>
		<tr>
			<th data-field="id">id</th>
			<th data-field="user">user</th>
			<th data-field="test_id">test_id</th>
			<th data-field="link">link</th>
			<th data-field="file">file</th>
			<th data-field="kind">kind</th>
			<th data-field="status">status</th>
			<th data-field="date">date</th>
		</tr>
	</thead>
</table>
